body {
  margin: 0 auto;
  padding: 0;
  width: 1200px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
  -webkit-box-shadow: 0px 0px 75px -12px rgba(0,0,0,0.59);
  box-shadow: 0px 0px 75px -12px rgba(0,0,0,0.59);
}

a {
  text-decoration: none;
}

.visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px; width: 1px; 
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.main-navigation a  {
  font-weight: bold;
  color: #000000;
}

.main-navigation a:hover  {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #000000;
  opacity: .3;
}

.site-navigation {
  margin: 0;
  list-style-type: none;
  position: relative;
  background-color: white;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 57px;
  padding-left: 72px;
  padding-right: 72px;
  
}
.main-navigation .top-logo {
  content: '';
  height: 70px;
  width: 138px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -69px;

  background-image: url('../img/logo-top.png');
  background-repeat: no-repeat;
  background-position: 0 0;

}
.main-navigation .top-logo:active {
  opacity: 1;
}

.site-navigation > li {
  width: 241px;
  padding-bottom: 3px;
}

.site-navigation li:nth-child(2) {
 margin-right: auto;
}

.site-navigation  li:nth-child(3), .site-navigation  li:nth-child(4) {
  text-align: right;
}

.intro-logo {
  height: 513px;
  width: 1200px;
  background-color: #a6c6dc;
}

main {
  background-color: #ffffff;
}



.promo-text {
  margin: 0;
  background-color: #ffffff;

  text-align: center;
}

.promo-text-section {
  min-height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

}

.promo-text-section > p:last-child {
  margin-bottom: 50px;
  margin-top: 25px;
}

.promo-text b {
  font-size: 21px;
  font-weight: bold;

  margin: 0;
}

.sedona-pros-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  text-align: center;
}

.sedona-pros-list > li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 21px;
}

.first-pro, .second-pro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #81b3d2;
  color: #ffffff;
}

.second-pro > div {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.pro-text-group {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 21px;
  font-size: 14px;

  padding-top: 44px;
  padding-bottom: 60px;
}

.pro-text-group p {
  margin: 0;
  padding: 0;
}

.sedona-pros-sublist {
  color: #333333;
  line-height: 21px;
  
  margin: 0;
  padding: 0;
  list-style-type: none;

  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 330px;
  padding-top: 60px;
  padding-bottom: 82px;
  padding-left: 73px;
}
.sedona-pros-sublist p {
  margin: 0;
}
.sedona-pros-sublist h4 {
  margin: 0;
  padding: 0;
  padding-bottom: 19px;
}

.sedona-pros-sublist li {
  padding-top: 27px;
  position: relative;
}
.sedona-pros-sublist li:nth-child(1) {
  width: 255px;
  margin-right: 74px;
}
.sedona-pros-sublist li:nth-child(1)::after {
  content: '';
  position: absolute;
  right: calc(50% - 37px);
  top: -71px;
  width: 75px;
  height: 72px;
  background-image: url(../img/icon-1.svg);
  background-position: top center;
  background-repeat: no-repeat;
}
.sedona-pros-sublist li:nth-child(2) {
  width: 400px;
  margin-right: 65px;
}
.sedona-pros-sublist li:nth-child(2)::after {
  content: '';
  position: absolute;
  right: calc(50% - 33px);
  top: -70px;
  width: 74px;
  height: 72px;
  background-image: url(../img/icon-3.svg);
  background-position: top center;
  background-repeat: no-repeat;
}

.sedona-pros-sublist li:nth-child(3)::after {
  content: '';
  position: absolute;
  right: calc(50% - 35px);
  top: -75px;
  width: 74px;
  height: 76px;
  background-image: url(../img/icon-2.svg);
  background-position: top center;
  background-repeat: no-repeat;
}

.sedona-pros-list h3, .sedona-pros-list h4 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;

  margin: 0;
  margin-top: 3px;
  margin-bottom: 5px;
}

.pro-order-number {
  line-height: 21px;
}
.pro-order-number::before, 
.pro-order-number::after {
  content: '—'
}

.last-three-pros {
  color: #333333;

  background-color: #eeeeee;;
  -webkit-box-sizing: border-box;;
          box-sizing: border-box;
  min-height: 256px;
  padding-top: 45px;
  padding-bottom: 55px;
  width: 400px;

  /* тут прячется .booking-form */
  position: relative;
  z-index: 3;
}
.last-three-pros h3 {
  margin-bottom: 23px;
}
.last-three-pros p {
  margin: 0;
  padding: 0;
  margin-top: 21px;
}

.remaining-pros li {
  width: 400px;
}



.booking-section {
  text-align: center;

  
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 291px;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hide-form-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 2; 
}
.booking-section p {
  margin: 0;
  padding-bottom: 24px;
  font-size: 14px;
  line-height: 24px;

  position: relative;
  z-index: 3;
}
.booking-section b {
  font-size: 30px;
  line-height: 36px;
  color: #000000;

  position: relative;
  z-index: 3;
}

.button {
  font-family: "PT Sans", "Arial", sans-serif;
}

.big-brown-button {
  background-color: #766357;

  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;

  border: none;
  margin-bottom: 0;
  width: 568px;
  height: 86px;
  position: relative;
  z-index: 2;
}

.big-brown-button:hover {
  background-color: #604e43;
}
.big-brown-button:active {
  background-color: #503e33;
  color: rgba(255,255,255,.3);
}

.google-map {
  margin: 0;
  padding: 0;

  height: 473px;
}

.main-footer {
  min-height: 120px;
  background: rgba(255,255,255,.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-footer > div {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booking-form {
  color: #000000;
  font-weight: bold;
  position: absolute;
  top: 291px;
  left: 316px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  border: none;
  width: 568px;
  height: 395px;
  padding: 55px;
  background: #fff;
  -webkit-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, .15);
          box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, .15);
  z-index: 0;
  -webkit-transition: height 1s;
  -o-transition: height 1s;
  transition: height 1s;
  -webkit-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s;
}
.form-hidden {
  top: -130px;
  -webkit-transition: height 1s;
  -o-transition: height 1s;
  transition: height 1s;
  -webkit-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s;
}
.from-hidden > * {
  height: 0px;
}
.booking-form fieldset {
  margin: 0;
  border: none;
}

.date-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  position: relative;
}

.date-group label {
  text-align: left;
}

.calendar-icon {
  content: '';
  height: 22px;
  width: 21px;
  position: absolute;
  right: 9px;
  bottom: 8px;

  background-image: url('../img/calendar.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.calendar-icon:hover {
  background-image: url('../img/calendar-hover.svg');
}
.calendar-icon:active {
  background-image: url('../img/calendar-active.svg');
}

.booking-form input {
  background-color: #f2f2f2;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-weight: bold;
  font-size: 14px;
}

.date-group input[type='date'],
.date-group input[type='text'] {
  
  width: 342px;
  height: 38px;
  padding-left: 12px;
  padding-top: 14px;
  padding-bottom: 14px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
}
.date-group input[type='date']:hover,
.date-group input[type='text']:hover {
  background-color: #ebebeb;
}
.date-group input[type='date']:focus,
 .date-group input[type='text']:focus {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
  outline: none;
}

.number-group-parent input[type='text'], .booking-form button[type='button']  {
  width: 38px;
  height: 38px;
  margin: 0px;

  font-weight: bold;
  font-size: 14px;
}

.number-group-parent input[type='text'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}



.increment-button, .decrement-button {
  background-color: #f2f2f2;
  border: none;

  color: #a9a9a9;
}
.increment-button:hover, .decrement-button:hover {
  background-color: #f2f2f2;
  border: none;

  color: #000000;
}
.increment-button:active, .decrement-button:active {
  background-color: #f2f2f2;
  border: none;

  color: #81b3d2;
}

.increment-button::after {
  content: '+';
}
.decrement-button::after {
  content: '-';
}


.number-group-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.number-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.number-group label {
  margin-right: 44px;
}

.big-blue-button {
  background-color: #81b3d2;

  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;

  border: none;
  margin: 0;
  margin-top: 54px;
  width: 458px;
  height: 58px;
}

.big-blue-button:hover {
  background-color: #669ec0;
}
.big-blue-button:active {
  background-color: #5496bd;
  color: rgba(255,255,255,.3);
}

.hashtag {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
}


.catalog-page {
}

.catalog-search-form {
  color: #fff;
  background-color: #576e7f;
  background-image: url("../img/logo-catalog.jpg");
  background-position: top center;
  background-repeat: no-repeat;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 26px;

  height: 217px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-search-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-search-form input[type='checkbox'] {
  margin: 0;
}

.form-left-chunk div {
  position: relative;
  padding-left: 40px;
}

.checkbox-indicator {
  width: 26px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 1px;

  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.form-left-chunk input[type='checkbox']:disabled + .checkbox-indicator {
  background-image: url('../img/checkbox-off-disabled.svg');
}

.form-left-chunk input[type='checkbox']:focus + .checkbox-indicator {
  outline: -webkit-focus-ring-color auto 5px;
}
.form-left-chunk input[type='checkbox']:checked + .checkbox-indicator {
  background-image: url('../img/checkbox-on.svg');
}
.form-left-chunk input[type='checkbox']:checked:disabled + .checkbox-indicator {
  background-image: url('../img/checkbox-on-disabled.svg');
}
.form-left-chunk input[type='checkbox']:focus + .checkbox-indicator {
  outline: -webkit-focus-ring-color auto 5px;
}

.catalog-search-form legend {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;

  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.form-left-chunk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form-left-chunk > fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form-left-chunk > fieldset:first-of-type {
  width: 241px;
}
.form-left-chunk > fieldset:last-of-type {
  margin-left: 14px;
}
.form-left-chunk div {
    margin-top: 12px;
    margin-bottom: 20px;
}
.form-right-chunk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-right-chunk .form-range-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 43px;
  width: 318px;
  margin-bottom: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form-right-chunk input[type='range'] {
  cursor: pointer;
}

.minmax-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: white solid 2px;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 318px;
  height: 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-size: 14px;
  line-height: 21px
}

.minmax-cell:first-child {
  border-right: solid 2px white;
}

.minmax-cell {
  height: 22px;
  width: 157px;

  padding-left: 2px;
  text-align: center;
}

.minmax-cell:last-child label {
  padding-left: 10px;
}

.catalog-search-button {
  background: transparent;
  border: 2px solid white;
  border-radius: 3px;
  width: 137px;
  height: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  color: white;
  font-weight: normal;
  line-height: 21px;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 8px;
}

.catalog-search-button:hover {
  background-color: white;
  color: black;
}


.filters {
  font-size: 12px;

  height: 85px;
  padding-left: 73px;
  padding-right: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.search-result-count {
  font-size: 21px;
  font-weight: bold;
  color: #000;

  margin-right: 44px;
}
.filters span:nth-child(2) {
  margin-right: 36px;

  color: #000;
}
.filter-types a:nth-of-type(1) {
  margin-right: 30px;
}
.filter-types a:nth-of-type(2) {
  margin-right: 29px;
}

.filter-types a {
  color: rgba(0,0,0,.3);
  border-bottom: dotted 1px #81b3d2;
}

.filter-types a:hover {
  color: #81b3d2;
  border-bottom: dotted 1px #81b3d2;
}

.filter-types a:active {
  color: black;
  border-bottom: none;
}

a.filter-selected {
  color: #81b3d2;
  border-bottom: none;
}

.filter-order a {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  border: none;
}
.filter-order
.filter-order a:hover path,
.filter-order a:active path, {
  fill: #000;
}
.filter-order a:nth-child(1)::after {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  bottom: -11px;
    left: 10px;

  background-image: url('../img/icon-up-grey.svg');
  background-repeat: no-repeat;
  background-position: 0 0;

}
.filter-order a:nth-child(1):hover::after {
  background-image: url('../img/icon-up-dir.svg');
}
.filter-order a:nth-child(1):active::after {
  background-image: url('../img/icon-up-blue.svg');
}
.order-up-selected a:nth-child(1)::after {
  background-image: url('../img/icon-up-blue.svg');
}
.filter-order a:nth-child(2)::after  {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  bottom: -11px;
    left: 10px;

  background-image: url('../img/icon-down-grey.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-order a:nth-child(2):hover::after {
  background-image: url('../img/icon-down-dir.svg');
}
.filter-order a:nth-child(2):active::after {
  background-image: url('../img/icon-down-blue.svg');
}
.order-down-selected a:nth-child(2)::after {
  background-image: url('../img/icon-down-blue.svg');
}

.hotels-search-result-list { 
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.hotels-search-result-list > li {
  height: 151px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 30px;
  padding-left: 73px;
  padding-right: 73px;
}

.hotel-search-result-item { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  
}

.hotel-search-result-item img {
  margin-right: 30px;
}

.hotel-search-result-item > div:last-of-type {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hotel-search-result-item > div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -6px;
}

.hotel-search-name {
  margin: 0;

  font-size: 21px;
  font-weight: bold;
  color: #000;
}
.hotel-search-name:hover {
  color: #81b3d2;
}
.hotel-search-name:active {
  color: #cacaca;
}

.hotel-search-type {
  font-size: 14px;
  line-height: 21px;

  display: inline-block;
  min-width: 111px;
  padding-bottom: 10px;

}
.hotel-search-price {
  font: 14px;
  line-height: 21px;
}

.buttons a:first-child {
  margin-right: 2px;
}

.hotel-search-stars {
  position: relative;
}

.hotel-search-stars::before {
  content: '';
  position: absolute;
  height: 18px;
  width: 100%;
  bottom: -17px;
  right: -1px;
  background-image: url(../img/star.svg);
  background-repeat: repeat;
  background-position: 0 0;
}

.stars-1 {
  width: 22px;
}
.stars-2 {
  width: 44px;
}
.stars-3 {
  width: 66px;
}
.stars-4 {
  width: 88px;
}
.stars-5 {
  width: 110px;
}

.hotel-search-rating {
  margin-top: auto;
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;

  color: #666666;
  text-align: center;
}

.blue-button {
    display: inline-block;
    width: 110px;
    height: 27px;
    background-color: #81b3d2;
  
    color: white;
    font-weight: bold;
    text-align: center;

}

.blue-button:hover {
  background-color: #669ec0;
}
.blue-button:active {
  background-color: #5496bd;
  color: rgba(255,255,255,.3);
}

.brown-button {
  display: inline-block;
  width: 142px;
  height: 27px;
  background-color: #766357;

  color: white;
  font-weight: bold;
  text-align: center;

}

.brown-button:hover {
  background-color: #604e43;
}
.brown-button:active {
  background-color: #503e33;
  color: rgba(255,255,255,.3);
}

.html-logo {
  display: inline-block;
  width: 115px;
  height: 41px;
  margin-left: 8px
}
.html-logo path {
  fill: #231f20;
}
.html-logo:hover path {
  fill: #81b3d2;
}
.html-logo:active path {
  fill: #bdbbbc;
}

.social-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}
.social-icon:hover {
  background-color: #669ec0;
}
.social-icon:active {
  background-color: #5496bd;
}
.social-icon:actives svg {
  opacity: .3;
}

.social-links > li {
   margin-right: 6px;
}
.social-links > li:last-child {
  margin-right: 0;
}