body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;

  background-color: white;

}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px; width: 1px; 
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.main-navigation a  {
  font-weight: bold;
  color: #000000;
}

.main-navigation a:hover  {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #000000;
  opacity: .3;
}


.promo-text {
  text-align: center;
}

.promo-text b {
  font-size: 21px;
  font-weight: bold;
}

.sedona-pros-list {
  background-color: #81b3d2;
  color: #ffffff;
}

.sedona-pros-list ul {
  background-color: #ffffff;
  color: #333333;
}

.sedona-pros-list h4 {
  color: #000000;
}

.sedona-pros-list h3, .sedona-pros-list h4 {
  font-size: 21px;
  font-weight: bold;
}

.pro-order-number::before, .pro-order-number::after {
  content: '—'
}

.sedona-pros-list div {
  background-color: #eeeeee;
  color: #333333;
}

.sedona-pros-list div h3 {
  color: #000000;
}

.booking-section {
  text-align: center;
}
.booking-section b {
  font-size: 24px;
  color: #000000;
}

.big-brown-button {
  background-color: #766357;

  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;

  border: none;
  margin-bottom: 0;
  width: 568px;
  height: 86px;
}

.google-map {
  margin: 0;
  padding: 0;
}

.booking-form {
  color: #000000;
  font-weight: bold;
}
.booking-form fieldset {
  box-sizing: border-box;
  border: none;
  width: 568px;
  height: 395px;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, .15);
  padding: 55px;

}

.date-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.date-group label {
  text-align: left;
}

.booking-form input {
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;

  font-weight: bold;
  font-size: 14px;
}

.booking-form input[type='date'] {
  width: 342px;
  height: 38px;
  padding-left: 12px;
  padding-top: 14px;
  padding-bottom: 14px;

  font-weight: bold;
  font-size: 14px;
}

.booking-form input[type='text'] {
  padding: 15px;
}

.booking-form input[type='text'], .booking-form button[type='button']  {
  width: 38px;
  height: 38px;
  margin: 0px;

  font-weight: bold;
  font-size: 14px;
}


.increment-button, .decrement-button {
  background-color: #f2f2f2;
  border: none;

  color: #a9a9a9;
}

.increment-button::after {
  content: '+';
}
.decrement-button::after {
  content: '-';
}


.number-group-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.number-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.number-group label {
  margin-right: 44px;
}

.big-blue-button {
  background-color: #81b3d2;

  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;

  border: none;
  margin: 0;
  margin-top: 54px;
  width: 458px;
  height: 58px;
  }
  

.hashtag {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
}